<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<template xmlns="http://schemas.haulmont.com/studio/template-settings.xsd"
          icon="resource://template/template_browse.svg"
          name="CRM: entity list view (project template)"
          order="1">
    <tags>
        <tag>ENTITY</tag>
        <tag>JPA</tag>
    </tags>
    <description>
        <![CDATA[<html>Project template. Generates a list view plus <b>additional files</b>:
        a fragment (descriptor + controller) and a helper Spring bean.</html>]]>
    </description>

    <locMessages key="viewTitle" expressionKey="${studioUtils.decapitalize(viewControllerName)}.title">
        <message lang="default">
            <![CDATA[${studioUtils.makeScreenNaturalCaption(entity.className.concat('.browse'), null)}]]>
        </message>
    </locMessages>

    <steps>
        <step name="CRM entity list view" order="0"/>
        <step name="Fetch plan" order="1"
              description="Entity attributes and associations to be loaded and displayed in the dataGrid"/>
    </steps>

    <property caption="Entity"
              code="entity"
              propertyType="ENTITY"
              required="true"/>

    <property caption="Entity fetch plan"
              code="listFetchPlan"
              step="1"
              propertyType="VIEW_COMPONENT"
              relatedProperty="entity"
              required="true"/>

    <property caption="Table type"
              code="tableType"
              propertyType="FLOW_TABLE_TYPE"
              relatedProperty="entity"
              required="true"/>
    <property caption="Hierarchical property"
              code="hierarchicalProperty"
              propertyType="HIERARCHICAL_PROPERTY"
              relatedProperty="tableType"
              required="false"/>
    <property caption="Table actions"
              code="tableActions"
              defaultValue="create,edit,remove"
              propertyType="MULTI_OPTION"
              preferences="true"
              optionsString="${actionSearch.getWizardTableActions(api.jmixProjectModule)}"/>
    <property caption="Create generic filter"
              code="createGenericFilter"
              defaultValue="true"
              propertyType="BOOLEAN"
              preferences="true"/>
    <property caption="Multiselect"
              code="multiselect"
              propertyType="BOOLEAN"
              preferences="true"/>
    <property caption="Column reordering"
              code="columnReorderingAllowed"
              propertyType="BOOLEAN"
              preferences="true"
              defaultValue="true"/>
    <property caption="Resizable columns"
              code="resizableColumns"
              propertyType="BOOLEAN"
              preferences="true"
              defaultValue="true"/>

    <property caption="Descriptor name"
              code="viewDescriptorName"
              propertyType="DESCRIPTOR_NAME"
              advanced="true"
              dynamic="true"
              sourceName="descriptor"
              required="true"
              valueTemplate="${api.evaluateScript('descriptorFileName.groovy', ['entity': entity])}-list-view">
        <dependency code="entity"/>
    </property>

    <property caption="Controller name"
              code="viewControllerName"
              propertyType="CLASS_NAME"
              advanced="true"
              dynamic="true"
              sourceName="controller"
              required="true"
              valueTemplate="${entity.className}ListView">
        <dependency code="entity"/>
    </property>

    <!--names of the additional files-->
    <property caption="Fragment descriptor name"
              code="fragmentDescriptorName"
              propertyType="DESCRIPTOR_NAME"
              advanced="true"
              dynamic="true"
              sourceName="fragment"
              required="true"
              valueTemplate="${api.evaluateScript('descriptorFileName.groovy', ['entity': entity])}-list-fragment">
        <dependency code="entity"/>
    </property>

    <property caption="Fragment controller name"
              code="fragmentControllerName"
              propertyType="CLASS_NAME"
              advanced="true"
              dynamic="true"
              sourceName="fragmentController"
              required="true"
              valueTemplate="${entity.className}ListFragment">
        <dependency code="entity"/>
    </property>

    <property caption="View id"
              code="viewId"
              propertyType="SCREEN_ID"
              required="true"
              dynamic="true"
              advanced="true"
              valueTemplate="${entity.name!=null?entity.name:entity.className}.list">
        <dependency code="entity"/>
    </property>

    <property caption="View route"
              code="listRoute"
              propertyType="FLOW_VIEW_ROUTE"
              advanced="true"
              dynamic="true"
              required="true"
              valueTemplate="${api.pluralForm(entity.uncapitalizedClassName)}">
        <dependency code="entity"/>
    </property>

    <property caption="View route layout"
              code="routeLayout"
              propertyType="FLOW_VIEW_ROUTE_LAYOUT"
              visible="false"
              advanced="true"/>

    <property caption="Parent menu item"
              code="menuItem"
              propertyType="FLOW_MENU_ITEM"/>

    <!--the view itself-->
    <source fileExt="xml"
            name="descriptor"/>
    <source fileExt="java"
            name="controller"/>
    <source fileExt="kt"
            name="controller"/>

    <!--additional files: a fragment (descriptor goes to resources, controller to sources)-->
    <source fileExt="xml"
            name="fragment"/>
    <source fileExt="java"
            name="fragmentController"/>
    <source fileExt="kt"
            name="fragmentController"/>

    <!--additional file named via 'templateFileName' instead of a property-->
    <source fileExt="java"
            name="listHelper"
            templateFileName="${viewControllerName}Helper"/>
    <source fileExt="kt"
            name="listHelper"
            templateFileName="${viewControllerName}Helper"/>
</template>
