<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<menu-config xmlns="http://jmix.io/schema/flowui/menu">

    <item view="HomeView" id="home" description="msg://com.company.crm/menu_config.home.description"
          title="msg://com.company.crm/menu_config.home.title" icon="vaadin:home"/>

    <item view="UserTask.list" id="tasks" title="msg://com.company.crm/menu_config.tasks.title"
          icon="vaadin:check-square"/>

    <item view="CatalogView"
          title="msg://com.company.crm/menu_config.catalog.title"
          icon="vaadin:open-book"/>

    <item view="Client.list" id="clients"
          title="msg://com.company.crm/menu_config.clients.title"
          icon="vaadin:users"/>

    <item view="Order.list" id="orders"
          title="msg://com.company.crm/menu_config.orders.title"
          icon="vaadin:cart"/>

    <item view="FinanceView" id="finance"
          title="msg://com.company.crm/menu_config.finance.title"
          icon="vaadin:pie-chart"/>


    <item view="AiConversation.list"
          title="msg://com.company.crm.ai.jmix.view.aiconversation/aiConversationListView.title"
          icon="vaadin:magic"/>

    <menu id="administration"
          description="msg://com.company.crm/menu_config.administration.description"
          title="msg://com.company.crm/menu_config.administration.title"
          icon="vaadin:cog">
        <item view="dynat_CategoryView.list" id="dynamic_attributes"
              icon="vaadin:table"
              title="msg://io.jmix.dynattrflowui.panel/category"/>
        <item view="appSettings.view" id="app_settings"
              title="msg://io.jmix.appsettingsflowui.view.appsettings/appSettingsEntityView.menu" icon="vaadin:wrench"/>
        <item view="jmxcon_JmxConsoleView"
              icon="vaadin:list-select"
              title="msg://io.jmix.jmxconsole/jmxConsoleView.menu"/>
    </menu>
</menu-config>