@import url('crm.css');
@import url('colors.css');
@import url('loader.css');
@import url('order-status-pipeline.css');
@import url('skeleton.css');

@import url('view/main-view.css');
@import url('view/main-view-top-menu.css');
@import url('view/login-view.css');
