name: Tests Suite

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master", "dev" ]

permissions:
  contents: read
  checks: write
  id-token: write

jobs:
  tests-suite:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Running tests suite
        run: chmod +x ./gradlew && ./gradlew test -Pvaadin.productionMode

      - name: Display test report
        uses: mikepenz/action-junit-report@v5
        if: always()
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'

      - name: Archive test reports
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: test-reports
          path: build/reports/tests